<div class="container-fluid mt-3">
      <div *ngIf="authService.afauth.authState | async as user; else showLogin">
        <p>Hello {{ user.displayName }}! <button class="btn btn-danger" (click)="logout()">Logout</button></p>
    
        <app-header></app-header>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
      <ng-template #showLogin>
        <p>Please login.</p>
        <button (click)="login()">Login with Google</button>
      </ng-template>
    </div>